<%= form_for(@partner_user, url: @url, html: {class: 'form-horizontal'}) do |f| %>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Fullname</label>
    <div class="col-sm-10">
      <%= f.text_field :fullname, autofocus: true, class: 'form-control', placeholder: 'Fullname', required: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10">
      <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: 'Phone Number', required: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <%= f.text_field :address, autofocus: true, class: 'form-control', placeholder: 'Address', required: true %>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %> <%= link_to 'Cancel', backoffice_partner_users_path, class: 'btn btn-secondary' %>
<% end %>