<h1 class="mt-4">Partner User</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Partner User</li>
  <li class="breadcrumb-item"><%= @partner_user.fullname %></li>
  <li class="breadcrumb-item active">Add APIs Permission</li>
</ol>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">Add APIs Permission</div>
      <div class="card-body">
      <%= form_with url: @url do |f| %>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Fullname</label>
          <div class="col-sm-10">
            <%= f.text_field :fullname, class: 'form-control', placeholder: @partner_user.fullname, disabled: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Permission</label>
          <div class="col-sm-10">
            <%= f.select :permission_id, @permission_options, { prompt: 'Select Permission' }, {class: 'form-control'} %>
          </div>
        </div>

        <%= f.submit 'Save', class: 'btn btn-primary' %> <%= link_to 'Cancel', backoffice_partner_user_path(@partner_user), class: 'btn btn-secondary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>