<h1 class="mt-4">Partner User</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Partner User</li>
</ol>

<p><%= link_to 'New', new_backoffice_partner_user_path, class: 'btn btn-primary' %></p>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    List of Partner User
  </div>

  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fullname</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @partner_users.each_with_index do |partner_user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= partner_user.fullname %></td>
          <td><%= partner_user.address %></td>
          <td><%= partner_user.phone %></td>
          <td><%= partner_user.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= partner_user.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td> <%= link_to 'Show', backoffice_partner_user_path(partner_user)%> | <%= link_to 'Edit', edit_backoffice_partner_user_path(partner_user)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
