<h1 class="mt-4">Partner User</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Partner User</li>
  <li class="breadcrumb-item active">New</li>
</ol>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">New</div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>