<h1 class="mt-4">Partner User</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Partner User</li>
  <li class="breadcrumb-item active"><%= @partner_user.fullname %></li>
</ol>

<p>
  <%= link_to 'New', new_backoffice_partner_user_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_backoffice_partner_user_path(@partner_user), class: 'btn btn-warning' %>
  <%= link_to 'Add APIs Permission', add_permission_backoffice_partner_user_path(@partner_user), class: 'btn btn-info' %>

</p>

<div class="row">
  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">Detail</div>
      <div class="card-body">
        <table class="table table-borderless">
        <thead>
          <tr>
            <td nowrap>Fullname</td>
            <td><%= @partner_user.fullname %></td>
          </tr>
          <tr>
            <td nowrap>Phone Number</td>
            <td><%= @partner_user.phone %></td>
          </tr>
          <tr>
            <td nowrap>Address</td>
            <td><%= @partner_user.address %></td>
          </tr>
          <tr>
            <td nowrap>UID</td>
            <td><%= @partner_user.uid %></td>
          </tr>
          <tr>
            <td nowrap>Auth Token</td>
            <td style="word-break: break-all;"><%= @partner_user.auth_token %></td>
          </tr>
          <tr>
            <td>Created At</td>
            <td><%= @partner_user.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td><%= @partner_user.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
        </thead>
      </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">APIs Permissions</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @partner_user.user_permits.each_with_index do |user_permit, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= user_permit.permission.code %></td>
                <td><%= user_permit.permission.name %></td>
                <td>
                  <%= link_to 'Delete', delete_permission_backoffice_partner_user_path(@partner_user, user_permit), method: :delete, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>