<body class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign up</h3></div>
                <div class="card-body">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="form-floating mb-3">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
                      <%= f.label :email %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                      <%= f.label :password_confirmation %>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <%= f.submit "Sign up", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Simple-OpenAPI 2021</div>
            </div>
          </div>
      </footer>
    </div>
  </div>
</body>
