<h1 class="mt-4">Cart</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cart</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    List of Cart
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fullname</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @carts.each_with_index do |cart, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= cart.customer.fullname %></td>
          <td><%= cart.customer.address %></td>
          <td><%= cart.customer.phone %></td>
          <td><%= cart.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= cart.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= link_to 'Show', backoffice_cart_path(cart)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
