<h1 class="mt-4">Order</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Order</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    List of Order
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fullname</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.fullname %></td>
          <td><%= order.address %></td>
          <td><%= order.phone %></td>
          <td><%= order.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= order.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= link_to 'Show', backoffice_order_path(order)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
