<h1 class="mt-4">Order</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Order</li>
  <li class="breadcrumb-item active"><%= @order.id %></li>
</ol>

<div class="row">
  <div class="col-xl-3">
    <div class="card mb-4">
      <div class="card-header">User Detail</div>
      <div class="card-body">
        <table class="table table-borderless">
        <thead>
          <tr>
            <td>Fullname</td>
            <td><%= @order.fullname %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td><%= @order.phone %></td>
          </tr>
          <tr>
            <td>Created At</td>
            <td><%= @order.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td><%= @order.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
        </thead>
      </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">Products Order</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_items.each_with_index do |order_item, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= order_item.product.title %></td>
                <td><%= order_item.product.price %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>