<body class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Log in</h3></div>
                <div class="card-body">
                  <div class="col-md-12">
                    <% flash.each do |name, msg| %>
                      <% if name == 'alert' %>
                        <div class="col-md-12">
                          <div class="alert alert-danger" role="alert">
                            <%= msg %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-floating mb-3">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
                      <%= f.label :email %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                      <%= f.label :password %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="form-check mb-3">
                        <%= f.label :remember_me, class: "form-check-label" %>
                        <%= f.check_box :remember_me, class: "form-check-input" %>
                      </div>
                    <% end %>

                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <%= f.submit "Log in", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Simple-OpenAPI 2021</div>
            </div>
          </div>
      </footer>
    </div>
  </div>
</body>
