<%= form_for(@product, url: @url, html: {class: 'form-horizontal'}) do |f| %>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Title', required: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <%= f.text_field :price, autofocus: true, class: 'form-control', placeholder: 'Price', required: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Picture</label>
    <div class="col-sm-10">
      <%= f.text_field :picture_tumb, autofocus: true, class: 'form-control', placeholder: 'Picture', required: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <%= f.text_area :description, autofocus: true, class: 'form-control', placeholder: 'Description' %>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %> <%= link_to 'Cancel', backoffice_products_path, class: 'btn btn-secondary' %>
<% end %>