<h1 class="mt-4">Product</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Product</li>
</ol>

<p><%= link_to 'New', new_backoffice_product_path, class: 'btn btn-primary' %></p>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    List of Product
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each_with_index do |product, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= product.title %></td>
          <td><%= product.price %></td>
          <td><%= product.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= product.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          <td><%= link_to 'Show', backoffice_product_path(product)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
