<h1 class="mt-4">Product</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Product</li>
  <li class="breadcrumb-item active"><%= @product.title %></li>
</ol>

<p><%= link_to 'Edit', edit_backoffice_product_path(@product), class: 'btn btn-warning' %></p>

<div class="row">
  <div class="col-xl-3">
    <div class="card mb-4">
      <div class="card-header">User Detail</div>
      <div class="card-body">
        <table class="table table-borderless">
        <thead>
          <tr>
            <td>Title</td>
            <td><%= @product.title %></td>
          </tr>
          <tr>
            <td>Price</td>
            <td><%= @product.price %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><%= @product.description %></td>
          </tr>
          <tr>
            <td>Created At</td>
            <td><%= @product.created_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td><%= @product.updated_at.in_time_zone("Jakarta").strftime("%d %b %Y %H:%M") %></td>
          </tr>
        </thead>
      </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card mb-4">
      <div class="card-header">Image</div>
      <div class="card-body">
        <center><%= image_tag(@product.picture_tumb, alt: 'product-image') rescue @product.picture_tumb %></center>
      </div>
    </div>
  </div>
</div>