<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" href="index.html">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Dashboard
        </a>

        <div class="sb-sidenav-menu-heading">Transaction</div>
        <%= link_to('Order', backoffice_orders_path, { class: "nav-link" }) %>
        <%= link_to('Cart', backoffice_carts_path, { class: "nav-link" }) %>

        <div class="sb-sidenav-menu-heading">Partner</div>
        <%= link_to('Partner User', backoffice_partner_users_path, { class: "nav-link" }) %>

        <div class="sb-sidenav-menu-heading">Product</div>
        <%= link_to('Product', backoffice_products_path, { class: "nav-link" }) %>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  </nav>
</div>