<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/top_navigation' %>
    <div id="layoutSidenav">
      <%= render 'layouts/side_navigation' %>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <%= yield %>
          </div>
        </main>
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
